.App {
  text-align: center;
}
.plus{
  height: 50px;
  width: 50px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #00b712;
 background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.plus:hover, .minus:hover{
  box-shadow: 2px 5px 4px rgb(63, 58, 58);
}

.minus{
  height: 50px;
  width: 50px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color :#3f0d12;
  background-image :linear-gradient(315deg, #ff0019 0%, #fc4c4c 74%);

}
.sign{
  margin-top: -10px;
  font-size: 45px;
  color: rgb(72, 59, 59);
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
